.task-list {
  margin-top: 20px;
}

.task-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #F7B787;
  color: #fff;
  padding: 15px;
  border-radius: 11px;
}

.empty-state-message {
  font-size: 18px;
  color: #fff;
  margin: 20px;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .task-count {
    font-size: 15px;
  }
}

/* For screens smaller than 450px */
@media (max-width: 450px) {
  .task-count {
    font-size: 14px;
  }
}