*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #527853;
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[type="button"] {
  font-family: cursive;
  font-weight: bolder;
}